<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT</title>
</head>
<body>
<h1>Editing Your Product!</h1>
    <form action='{% url "updateproduct" product_id=product.id %}' method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name" value="{{product.product_name}}"></p>
        <p>Description: <input type="text" name="description" value="{{product.product_description}}"></p>
        <p>Price: <input type="number" name="price" value="{{product.product_price}}"></p>
        <input type = "submit" value="Update">
    </form>
    <a href= '{% url "showproduct" product_id=product.id %}'>Show</a>
    <a href="{% url 'myindex' %}">Back</a>
</body>
</html>
