<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Showing Products!</title>
</head>
<body>
    <h1>Product gets displayed here!</h1>
    <p>Name: {{product.product_name}}</p>
    <p>Description: {{product.product_description}}</p>
    <p>Price: {{product.product_price}}</p>
    <p><a href= '{% url "editproduct" product_id=product.id %}'>Edit</a></p>
    <p><a href="{% url 'myindex' %}">Back</a></p>
</body>
</html>
